body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: #bfbfbf;
}

.country-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding: 24px;
    max-width: 1200px;
    margin: auto;
}

.card {
    height: 300px;
    background: #111827;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    display: block;
}

.country-info {
    padding: 14px;
}

.country-info .name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.country-info p {
    font-size: 13px;
    margin: 5px 0;
    color: #39404a;
}

.country-info strong {
    color: #222bae;
}

.theme-black {
    background: #434d64;
    color: #ffffff;
}

/* Select */
.select {
    display: flex;
    justify-content: end;

}

.regins-select {
    background: #343651;
    color: white;
    width: 120px;
    height: 35px;
    border-radius: 15px;
    transition: 0.7s;
}

.regins-select:hover {
    width: 125px;
    height: 38px;
    color: rgb(216, 208, 208);
    background: #252641;
}

/* Input */

.search-inp,
.search-btn {
    background-color: #111827;
    color: #ffffff;
    border: 1px solid #a1a1a1;
    width: 150px;
    height: 24px;
    border-radius: 10px;
}

.search-inp::placeholder {
    color: #ffffff;
}

.search-btn {
    cursor: pointer;
    width: 60px;
    height: 28px;
    border-radius: 10px;

}

/* Theme btn */
.btn {
    display: flex;
    justify-content: end;
    background: #111827;
    height: 70px;
}

.theme-btn {
    color: rgb(175, 156, 255);
    background: #111827;
    height: 30px;
    margin: 4px;
    margin-right: 15px;
    margin-top: 22px;
}

.heading-2 {
    margin-right: 1150px;
}